
.sucsbribe_input_box{
  background: #fff;
}
.orange_font{
  font-size: 14px;
}
.single-svg-icon-box:hover::before{
  background-color: #fff;

}
.heyla_blue_box{
background-color: blue;
}
.ensyfi_blue_box{
  background-color: blue;
}




####### about us #####
.main-timeline{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    position: relative;
}
.main-timeline:before{
    content: "";
    width: 10px;
    height: 100%;
    background: #fff;
    border-radius: 25px;
    border: 1px solid #505050;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.main-timeline .timeline{
    width: 50%;
    padding: 0 20px 0 50px;
    margin-left: 5px;
    float: right;
    position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: '';
    display: block;
    position: absolute;
}
.main-timeline .timeline:before{
    background-color: #EBAB25;
    height: 25px;
    width: 25px;
    border: 2px solid #fff;
    box-shadow: 0 0 1px 2px #808080;
    border-radius: 50%;
    transform: translateY(-50%);
    left: -13px;
    top: 50%;
}
.main-timeline .timeline:after{
    background-color: #F3B030;
    height: 100%;
    width: 22px;
    border: 3px solid #F5A84A;
    border-radius: 0 5px 5px 0;
    right: 0;
    top: 0;
}
.main-timeline .timeline-content{
    color: #909090;
    background-color: #fff;
    min-height: 147px;
    padding: 15px 25px 15px 160px;
    border-radius: 80px 0 0 70px;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
    content: '';
    transform: translateY(-50%);
    border: 11px solid transparent;
    border-right: 20px solid #F5A84A;
    position: absolute;
    left: -40px;
    top: 50%;
}
.main-timeline .timeline-year{
    color: #fff;
    background-color: #F5A84A;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 125px;
    height: 145px;
    width: 145px;
    padding: 8px;
    border: 2px solid #fff;
    box-shadow: 1px 1px 1px #505050;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    top: 49%;
    left: -1px;
}
.main-timeline .timeline-year span{
    background-color: #F3B030;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
}
.main-timeline .title{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    margin:0 0 10px 0;
}
.main-timeline .title i.fa{ font-size: 30px; }
.main-timeline .description{
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 ;
}
.main-timeline .timeline:nth-child(even){
    padding: 0 50px 0 20px;
    margin: 0 5px 0 0 ;
    float: left;
}
.main-timeline .timeline:nth-child(even):before{
    left: auto;
    right: -13px;
}
.main-timeline .timeline:nth-child(even):after{
    border-radius: 5px 0 0 5px;
    right: auto;
    left: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    border-radius: 0 80px 70px 0;
    padding: 15px 160px 15px 25px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    left: auto;
    right: -40px;
    border: 11px solid transparent;
    border-left: 20px solid #F5A84A;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    left: auto;
    right: 0;
}
.main-timeline .timeline:nth-child(5n+2):before{ background-color: #F6931E; }
.main-timeline .timeline:nth-child(5n+2):after{
    background-color: #F6931E;
    border-color: #D4701F;
}
.main-timeline .timeline:nth-child(5n+2) .timeline-year span{ background-color: #F6931E; }
.main-timeline .timeline:nth-child(5n+2) .timeline-year{ background-color: #D4701F; }
.main-timeline .timeline:nth-child(5n+2) .timeline-content:before{ border-left-color: #D4701F; }
.main-timeline .timeline:nth-child(5n+3):before{ background-color: #A7D244; }
.main-timeline .timeline:nth-child(5n+3):after{
    background-color: #A7D244;
    border-color: #99C63D;
}
.main-timeline .timeline:nth-child(5n+3) .timeline-year span{ background-color: #A7D244; }
.main-timeline .timeline:nth-child(5n+3) .timeline-year{ background-color: #99C63D; }
.main-timeline .timeline:nth-child(5n+3) .timeline-content:before{ border-right-color:#99C63D; }
.main-timeline .timeline:nth-child(5n+4):before{ background-color: #77A9DA; }
.main-timeline .timeline:nth-child(5n+4):after{
    background-color: #77A9DA;
    border-color:#4F7BC8;
}
.main-timeline .timeline:nth-child(5n+4) .timeline-year span{ background-color: #77A9DA; }
.main-timeline .timeline:nth-child(5n+4) .timeline-year{ background-color: #4F7BC8; }
.main-timeline .timeline:nth-child(5n+4) .timeline-content:before{ border-left-color: #4F7BC8; }
.main-timeline .timeline:nth-child(5n+5):before{ background-color: #cb79c5; }
.main-timeline .timeline:nth-child(5n+5):after{
    background-color: #cb79c5;
    border-color:#a53e9e;
}
.main-timeline .timeline:nth-child(5n+5) .timeline-year span{ background-color: #cb79c5; }
.main-timeline .timeline:nth-child(5n+5) .timeline-year{ background-color: #a53e9e; }
.main-timeline .timeline:nth-child(5n+5) .timeline-content:before{ border-right-color: #a53e9e; }
@media only screen and (max-width:990px){
    .main-timeline .title{ font-size: 20px; }
    .main-timeline .title i.fa{
        font-size: 25px;
        margin-top: 5px;
    }
    .main-timeline .timeline-year{
        font-size: 35px;
        width: 120px;
        height: 120px;
    }
    .main-timeline .timeline-year span{ line-height: 100px; }
    .main-timeline .timeline-content{ padding: 25px 20px 25px 130px; }
    .main-timeline .timeline:nth-child(even) .timeline-content{ padding: 25px 130px 25px 20px; }
}
@media only screen and (max-width:767px){
    .main-timeline:before{ left: 13px; }
    .main-timeline .timeline,
        .main-timeline .timeline:nth-child(even){
        width: 100%;
        padding: 0 20px 0 60px;
        margin: 0 0 30px 0;
        float: right;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(even):before{
        left: 0;
    }
    .main-timeline .timeline:nth-child(even):after{
        border-radius: 0 5px 5px 0;
        right: 0;
        left: auto;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        padding: 80px 25px 25px 25px;
        border-radius: 15px 0 0 15px;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        height: 70px;
        width: 150px;
        border-radius: 20px;
        transform: translateY(0);
        top: 0;
        left: 0;
        right: auto;
    }
    .main-timeline .timeline-year span{
        line-height: 50px;
        border-radius: 20px;
    }
    .main-timeline .timeline:nth-child(even) .timeline-content:before{
        border: 11px solid transparent;
        border-right: 20px solid #F5A84A;
        left: -40px;
        right: auto;
    }
}
@media only screen and (max-width:479px){
    .main-timeline .title{ font-size: 16px; }
    .main-timeline .timeline-content{ padding: 80px 20px 25px 25px; }
    .main-timeline .description{ text-align: justify; }
    .main-timeline .timeline:nth-child(even) .timeline-content{
        padding: 80px 20px 25px 25px;
    }
}

####### about us #####

####### process #####
.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    right:-100px;
    list-style-type: none;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    left:-100px;
    list-style-type: none;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 40px 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 7px solid #3b5998;
    border-radius: 100%;
    /* background-color: #3b5998; */
    box-shadow: 0 0 5px #4582ec;
    width: 200px;
    height: 200px;
    margin-left: -100px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 40px 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    color: #b3b3b3;
}

.timeline .timeline-heading h4.subheading {
  margin:0;
  padding:0;
    text-transform: none;
    font-size:18px;
    color:#333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    color:#808080;
}
/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    /* top: 60px;
    bottom: 0;
    left: 690px;
    width: 4px;
    height:340px; */
    top: 154px;
      left: 674px;
      width: 4px;
      height: 113px;
    background-color: #3b5998;
    -ms-transform: rotate(-44deg); /* IE 9 */
    -webkit-transform: rotate(-44deg); /* Safari */
    transform: rotate(-44deg);
    box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
    content: "";
    position: absolute;
    /* top: 60px;
    bottom: 0;
    left: 450px;
    width: 4px;
    height:340px; */
    top: 154px;
    bottom: 0;
    left: 456px;
    width: 4px;
    height: 113px;
    background-color: #3b5998;
    -ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Safari */
    transform: rotate(44deg);
    box-shadow: 0 0 5px #4582ec;
}
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li .timeline-image {
    position: static;
    width: 150px;
    height: 150px;
    margin-bottom:0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    float:right;
    left: 0px;
    margin-left:0;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 20px 14px;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 20px 0px;
  }
  .timeline > li .line {
    display: none;
  }
}



.process_img{
  width:150px;
  margin: 15px;
}

####### process  #########


####### quality Assurance  #########
a:hover, a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 15px;
}
#accordion .panel-heading{
    padding: 0;
    border-radius:0;
    border: none;
}
#accordion .panel-title a{
    display: block;
    padding: 14px 30px 14px 70px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #ef6145;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed{
    background: #f8f8f8;
    color: #1e4276;
}
#accordion .panel-title a.collapsed:hover{
    color: #ef6145;
}
#accordion .panel-title a:before{
    content: "";
    width: 55px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: -13px;
    transform: skewX(-25deg);
    transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed:hover:before{
    background: #d7573e;
}
#accordion .panel-title a:after{
    /* content: "\f047"; */
      content: "\f0b2";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 10px;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
}
#accordion .panel-title a.collapsed:after{
    color: #9f9f9f;
}
#accordion .panel-title a.collapsed:hover:after{
    color: #fff;
}
#accordion .panel-body{
    font-size: 14px;
    color: #5a3245;
    line-height: 25px;
    padding: 20px 15px 20px 40px;
    position: relative;
    border: none;
    position: relative;
    transition: all 0.5s ease 0s;
}
#accordion .panel-body:before{
    content: "";
    width: 5px;
    height: 40px;
    background: #ef6145;
    position: absolute;
    top: 30px;
    left: 0;
}
#accordion .panel-body p{
    margin-bottom: 0;
}
.q_img_box{
  text-align: center;
  background-color: #fff;
  padding: 20px 0px 20px 0px;
  height: 200px;
}
.quality_box_text{
  font-size: 14px;
  font-weight: 600;
}

####### process  #########
